h1 {
    text-align: center;
}

form {
    background-color: grey;
    width: 50%;
}

.container-form {
    height: 400px;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
}

.textfield {
    width: 100%;
}

.message {
    width: 100%;
}

.btn-submit {
    width: 100%;
    height: 35px;
}

.field {
    display: grid;
    grid-auto-columns: auto auto;
    margin: 20px 0px;
}

@media (max-width: 768px) {
    form {
        width: 80%;
    }
}