table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

header {
    width: 100%;
}


h1 {
    text-align: center;
    margin :0;
    padding: 20px 0px;
    width: 100%;
}